.App{
    background-image: url("https://res.cloudinary.com/wet932/image/upload/v1547296581/background.svg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}